body{
    background-color: #f8f9fa;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #343a40;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #343a40;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
h2{
   color: #fff;
}
h4{
    color: #fff;
}
footer {
    background-color: #343a40;
    height: 135px;
}
#justpushtobottom {
height: 82vh;
}
.nav-link {
    color: #fff;
}
.fa {
    margin: 6px 8px;
}


img:hover{
float: inherit;
background-size: 100%;
margin: 2px;
transition:0.5s;
cursor: pointer;
}
p{
    font-family: sans-serif;
}
.portfolio-h2{
    color: #111;
}
.jumbotron{
    background-color: #343a40;
    color: #fff;
}
.container-fluid{
    background-color: #f8f9fa;
}
h5{
    margin-top: 6px;
}